@import './../../vendor/normalize';
@import './../../vendor/fonts/fonts.css';

.body {
  background-color: black;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
  box-sizing: border-box;
  font-family: "Maison Mono regular", sans-serif;
}

.overlay-orange-circle {
  display: flex;
  align-items: center;
}

.overlay {
  display: flex;
  justify-content: space-between;
}

.orange-circle {
  background: #E0AD6E center;
  border-radius: 20px;
  height: 8px;
  width: 8px;
  margin-right: 15px;
}

.soc-network {
  display: flex;
  margin: 0;
  padding: 0;
}

.soc-network__list {
  list-style: none;
  margin-right: 15px;
}

.soc-network__list:last-child {
  margin-right: 0;
}

.universal {
  height: 800px;
}

.universal__title {
  font-family: 'Maison Mono bold', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 60px;
  max-width: 490px;
  margin: 0;
}

.universal__heading {
  font-family: 'Maison Mono bold', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 48px;
  margin: 0;
}

.universal__sub-heading {
  font-family: 'Maison Mono bold', sans-serif;
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.universal__paragraph {
  font-family: "Maison Mono medium", sans-serif;
  margin: 40px 0 0;
  line-height: 24px;
  color: #CBCBCB;
}

.universal__article {
  display: flex;
}

.universal__btn-order {
  background: url("./../../access/images/btn/btn-order.svg") no-repeat center;
  width: 210px;
  height: 136px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .2s ease;
}

.universal__btn-order:hover {
  opacity: .9;
  transform: scale(1.05);
}

.universal__learn {
  margin-top: 40px;
  font-family: "Maison Mono medium", sans-serif;
  font-size: 20px;
  line-height: 16px;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity .2s ease;
}

.universal__learn:hover {
  opacity: .6;
}

.header {
  background: url("./../../access/images/fon/green.png") no-repeat;
  background-size: cover;
  height: 760px;
}

.header__overlay {
  background: url("./../../access/images/fon/white-plane.png") no-repeat right;
  height: 100%;

  .header__paragraph {
    font-family: "Maison Mono medium", sans-serif;
    color: #CBCBCB;
    font-size: 24px;
    line-height: 32px;
    margin: 30px 0 30px 110px;
    max-width: 600px;
  }

  .header__btn-explore {
    background: url("./../../access/images/btn/btn-explore .svg") no-repeat center;
    width: 210px;
    height: 144px;
    outline: none;
    border: none;
    margin-left: 110px;
    cursor: pointer;
    transition: transform .2s ease-out;
  }

  .header__btn-explore:hover {
    transform: scale(1.05);
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 110px;
}

.header__ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__li {
  font-family: 'Maison Mono bold', sans-serif;
  text-transform: uppercase;
  margin-right: 40px;
  font-size: 20px;
  cursor: pointer;
}

.header__li:last-child {
  margin-right: 0;
}

.header__anchor {
  color: black;
  transition: opacity .4s ease;
}

.header__anchor:hover {
  opacity: .4;
}

.header__container {
  margin-top: 115px;
}

.sustainable-air {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1600px;
  background: url("./../../access/images/fon/black-green.png") no-repeat;
  padding: 165px 110px 230px;
  box-sizing: border-box;
}

.sustainable-air__article {
  max-width: 495px;
}

.sustainable-air__image {
  margin-right: 115px;
}

.sustainable-air__anchor {
  text-decoration: none;
  color: white;
}

.meet-briiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./../../access/images/fon/clever.png") no-repeat;
}

.meet-briiv__btn-play {
  background: url("./../../access/images/btn/btn-play.svg") no-repeat center;
  width: 120px;
  height: 104px;
  border: none;
  margin-top: 40px;
  outline: none;
  cursor: pointer;
  transition: opacity .2s ease;
}

.meet-briiv__btn-play:hover {
  opacity: .9;
}

.common {
  text-align: center;
  height: 1600px;

  .common__briiv-is {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    box-sizing: border-box;
    background: url("./../../access/images/fon/darkening.png") no-repeat;

    .common__table {
      margin: 65px 0 55px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .common__cell {
      max-width: 185px;
      margin-right: 50px;
    }

    .common__cell:last-child {
      margin-right: 0;
    }

    .common__text {
      font-family: "Maison Mono medium", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #CBCBCB;
    }
  }

  .common__powered-by-nature {
    background-color: black;
    height: 800px;
    box-sizing: border-box;
    padding: 0 110px;
  }

  .common__container {
    display: flex;
    align-items: center;
    margin-top: 70px;
  }

  .common__images {
    margin-top: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: -200px;
  }

  .common__image_type_two {
    transform: translate3d(-100px, 0, 10px)
  }

  .common__image_type_three {
    transform: translate3d(-200px, 0, 10px);
    z-index: 1;
  }

  .common__image_type_four {
    transform: translate3d(-300px, 0, 10px);
  }

  .common__content {
    max-width: 390px;
    text-align: left;
  }
}

.common__carousel {
  display: flex;
  flex-direction: column;
}

.common__ul {
  color: #CBCBCB;
  display: flex;
  justify-content: space-between;
  margin: 70px 0 0;
}

.common__list {
  font-family: "Maison Mono medium", sans-serif;
  font-size: 16px;
  list-style: none;
  cursor: pointer;
}

.common__line {
  content: '';
  background: linear-gradient(270deg, #000000 -0.57%, rgba(255, 255, 255, 0) 23.16%), linear-gradient(90deg, #000000 0%, rgba(255, 255, 255, 0) 24.3%), #FFFFFF;
  opacity: 0.4;
  width: 100%;
  height: 4px;
  margin-top: 10px;
}

.control-on-the-go {
  box-sizing: border-box;
  padding: 200px 115px 0 200px;
  background: url("./../../access/images/fon/white-green.png") no-repeat;
}

.control-on-the-go__container {
  display: flex;
  justify-content: space-between;

  .sustainable-air__anchor {
    color: black;
  }
}

.control-on-the-go__stores {
  margin-top: 60px;

  .control-on-the-go__store {
    cursor: pointer;
  }
}

.control-on-the-go__heading {
  font-family: "Maison Mono bold", sans-serif;
  font-size: 44px;
  margin: 0;
}

.control-on-the-go__paragraph {
  font-family: "Maison Mono medium", sans-serif;
  margin: 40px 0 0;
  font-size: 16px;
  line-height: 24px;
  max-width: 390px;
  color: #424242;
}

.control-on-the-go__image {
  height: 467px;
}

.get-your-briiv {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 165px 110px 165px;
  background: url("./../../access/images/fon/black-green-2.png") no-repeat;
}

.get-your-briiv__content {
  max-width: 395px;
}

.get-your-briiv__overlay {
  display: flex;
}

.footer {
  box-sizing: border-box;
  background-color: black;
  padding: 50px 110px 55px 90px;
  height: 300px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__content {
  max-width: 440px;

  .universal__paragraph {
    margin: 25px 0;
  }
}

.universal__title_content_header {
  margin-left: 110px;
}

.header__li_active {
  position: relative;
  z-index: 1;
}

.header__li_active::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -20px;
  background: #86FF9C;
  border-radius: 99px;
  width: 48px;
  height: 48px;
}

.header__li_active:last-child {
  list-style: none;
}

.header__anchor_active {
  position: absolute;
  z-index: 1;
}

.header__anchor_theme_white {
  color: white;
}

.universal__sub-heading_place_briiv-is {
  margin: 20px 0 25px;
}

.universal__heading_place_powered-by-nature {
  margin: 0 0 40px;
}

.universal__sub-heading_place_get-your-briiv {
  margin: 40px 0 0;
}

.universal__sub-heading_deactivate {
  color: #CBCBCB;
  text-decoration-line: line-through;
  margin-left: 30px;
}

.universal__btn-order_place_get-your-briiv {
  margin-top: 55px;
}

.overlay_bottom {
  align-items: end;
}

@media (min-width: 320px) {

}